name: Vercel Build & Deploy

on:
  pull_request:
    types: [closed]
    branches:
      - main
      - production

jobs:
  build:
    runs-on: ubuntu-latest
    outputs:
      deploy_env: ${{ steps.env.outputs.deploy_env }}
      deploy_flag: ${{ steps.env.outputs.deploy_flag }}

    steps:
      - name: Decide enviroment
        id: env
        run: |
          if [ "${{ github.ref_name }}" = "production" ]; then
            echo "deploy_env=production" >> $GITHUB_OUTPUT
            echo "deploy_flag=--prod" >> $GITHUB_OUTPUT
          else
            echo "deploy_env=preview" >> $GITHUB_OUTPUT
            echo "deploy_flag=" >> $GITHUB_OUTPUT
          fi

      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 22
          cache: npm

      - name: Install dependencies
        run: npm ci

      - name: Install Vercel CLI
        run: npm install --global vercel@latest

      # Pull env vars + project settings (Preview/Production)
      - name: Vercel Pull
        run: vercel pull --yes --environment=${{ steps.env.outputs.deploy_env }} --token=${{ secrets.VERCEL_TOKEN }}
        env:
          VERCEL_ORG_ID: ${{ secrets.VERCEL_ORG_ID }}
          VERCEL_PROJECT_ID: ${{ secrets.VERCEL_PROJECT_ID }}

      # Build on CI -> generates .vercel/output
      - name: Vercel Build
        run: vercel build ${{ steps.env.outputs.deploy_flag }} --token=${{ secrets.VERCEL_TOKEN }}
        env:
          VERCEL_ORG_ID: ${{ secrets.VERCEL_ORG_ID }}
          VERCEL_PROJECT_ID: ${{ secrets.VERCEL_PROJECT_ID }}

      # Upload prebuilt output so deploy job can use it
      - name: Upload Vercel prebuilt output
        uses: actions/upload-artifact@v4
        with:
          name: vercel-prebuilt
          path: .vercel


  # deploy:
  #   runs-on: ubuntu-latest
  #   needs: build

  #   steps:
  #     - name: Checkout
  #       uses: actions/checkout@v4

  #     - name: Download prebuilt output
  #       uses: actions/download-artifact@v4
  #       with:
  #         name: vercel-prebuilt
  #         path: .vercel/output

  #     - name: Install Vercel CLI
  #       run: npm i -g vercel@latest

  #     - name: Deploy (prebuilt)
  #       run: vercel deploy --prebuilt ${{ needs.build.outputs.deploy_flag }} --token=${{ secrets.VERCEL_TOKEN }}
  #       env:
  #         VERCEL_ORG_ID: ${{ secrets.VERCEL_ORG_ID }}
  #         VERCEL_PROJECT_ID: ${{ secrets.VERCEL_PROJECT_ID }}

  deploy_preview:
    # run only if PR was merge and target branch is main
    if: ${{ github.event.pull_request.merged == true && github.base_ref == 'main' }}
    runs-on: ubuntu-latest
    needs: build

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Download Vercel prebuilt output
        uses: actions/download-artifact@v4
        with:
          name: vercel-prebuilt
          path: .vercel

      - name: Install Vercel CLI
        run: npm install --global vercel@latest

      - name: Pull Vercel Environment Information
        run: vercel pull --yes --environment=preview --token=${{ secrets.VERCEL_TOKEN }}

      - name: Deploy (prebuilt)
        run: vercel deploy --prebuilt ${{ needs.build.outputs.deploy_flag }} --token=${{ secrets.VERCEL_TOKEN }}
        env:
          VERCEL_ORG_ID: ${{ secrets.VERCEL_ORG_ID }}
          VERCEL_PROJECT_ID: ${{ secrets.VERCEL_PROJECT_ID }}

  deploy_production:
    # run only if PR was merge and target branch is production
    if: ${{ github.event.pull_request.merged == true && github.base_ref == 'production' }}
    runs-on: ubuntu-latest
    needs: build

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Download prebuilt output
        uses: actions/download-artifact@v4
        with:
          name: vercel-prebuilt
          path: .vercel/output

      - name: Install Vercel CLI
        run: npm install --global vercel@latest

      - name: Pull Vercel Environment Information
        run: vercel pull --yes --environment=production --token=${{ secrets.VERCEL_TOKEN }}

      - name: Deploy (prebuilt)
        run: vercel deploy --prebuilt ${{ needs.build.outputs.deploy_flag }} --prod --token=${{ secrets.VERCEL_TOKEN }}
        env:
          VERCEL_ORG_ID: ${{ secrets.VERCEL_ORG_ID }}
          VERCEL_PROJECT_ID: ${{ secrets.VERCEL_PROJECT_ID }}